{% extends "main/base.html" %}
{% load static %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block meta %}
<meta name="description" content="{{ post.desc | truncatechars:100 }}" />
<meta name="keywords" content="" />
<meta name="author" content="" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:image" content="{{ post.image.url }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="{{ post.desc | truncatechars:100 }}" />
<meta name="twitter:title" content="{{ post.title }}" />
<meta name="twitter:image" content="{{ post.image.url }}" />
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:card" content="" />
{% endblock meta %}

{% block content %}
        <!-- Page Header Start -->
        <div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg" data-overlay="0.85">
            <div class="container">
                <div class="title">
                    <h2 class="h1 text-white">Blog</h2>
                </div>

                <ul class="breadcrumb text-gray ff--primary">
                    <li><a href="/" class="btn-link">Home</a></li>
                    <li><a class="btn-link">Blog</a></li>
                    <li class="active"><span class="text-primary">{{ post.title }}</span></li>
                </ul>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 pb--30" data-trigger="stickyScroll">
                        <div class="main--content-inner">
                            <!-- Post Item Start -->
                            <div class="post--item post--single pb--30">
                                <!-- Post Image Start -->
                                <div class="post--img">
                                    <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" alt=""></a>
                                </div>
                                <!-- Post Image End -->

                                <!-- Post Info Start -->
                                <div class="post--info">
                                    <!-- Post Meta Start -->
                                    <div class="post--meta">
                                        <ul class="nav">
                                            <li>
                                                <a href="#">
                                                    <i class="mr--8 fa fa-calendar-o"></i>
                                                    <span>{{ post.time_stamp | date:'d M Y' }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="mr--8 fa fa-comments-o"></i>
                                                    <span>{{ post.number_of_comments }} Comment{{ post.number_of_comments | pluralize }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Post Meta End -->

                                    <!-- Post Title Start -->
                                    <div class="post--title mt--10">
                                        <h3 class="h4">{{ post.title }}</h3>
                                    </div>
                                    <!-- Post Title End -->

                                    <!-- Post Content Start -->
                                    <div class="post--content text-darker mt--10">
                                        {{ post.body | safe }}
                                    </div>
                                    <!-- Post Content End -->

                                    <!-- Post Footer Start -->
                                    <div class="post--footer">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- Post Meta Start -->
                                                <div class="post--meta">
                                                    <ul class="nav">
                                                        <li>
                                                            <i class="mr--8 fa fa-folder-open-o"></i>

                                                            <a href="{{ post.category.get_absolute_url }}"><span>{{ post.category }}</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- Post Meta End -->
                                            </div>

                                            <div class="col-sm-6">
                                                <!-- Post Social Start -->
                                                <div class="post--social-share clearfix">
                                                    <ul class="nav">
                                                        <li><a class="fa fa-share-alt"></a></li>
                                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="https://twitter.com/intent/tweet?text={{ post.title }}&original_referer={{ request.build_absolute_uri }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}&summary={{ post.desc }}&source={{ request.build_absolute_uri }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!-- Post Social End -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Post Footer End -->
                                </div>
                                <!-- Post Info End -->
                            </div>
                            <!-- Post Item End -->

                            <!-- Post Nav Start -->
                            <div class="post--nav pt--40 pb--30">
                                <div class="row">
                                    {% if post.get_previous_by_time_stamp %}
                                    <div class="col-sm-6">
                                        <!-- Post Nav Item Start -->
                                        <a href="{{ post.get_previous_by_time_stamp.get_absolute_url }}" class="post--nav-item prev ff--primary fs--14 fw--500 text-darker">
                                            <p class="mb--0"><i class="text-primary mr--10 fa fa-caret-left"></i>Previous Post</p>

                                            <h4 class="h6 fw--500 mt--8">{{ post.get_previous_by_time_stamp.title }}</h4>
                                        </a>
                                        <!-- Post Nav Item End -->
                                    </div>
                                    {% endif %}

                                    {% if post.get_next_by_time_stamp %}
                                    <div class="col-sm-6">
                                        <!-- Post Nav Item Start -->
                                        <a href="{{ post.get_next_by_time_stamp.get_absolute_url }}" class="post--nav-item next ff--primary fs--14 fw--500 text-darker text-right">
                                            <p class="mb--0">Next Post<i class="text-primary ml--10 fa fa-caret-right"></i></p>

                                            <h4 class="h6 fw--500 mt--8">{{ post.get_next_by_time_stamp.title }}</h4>
                                        </a>
                                        <!-- Post Nav Item End -->
                                    </div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <!-- Post Nav End -->

                            <!-- Related Posts Start -->
                            <div class="related--posts pt--40">
                                <h4 class="h4 pb--20">Posts You May Also Like</h4>

                                <div class="row AdjustRow">
                                    {% for post in related_posts %}
                                    <div class="col-md-6 pb--30">
                                        <!-- Post Item Start -->
                                        <div class="post--item">
                                            <!-- Post Image Start -->
                                            <div class="post--img">
                                                <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" alt=""></a>
                                            </div>
                                            <!-- Post Image End -->

                                            <!-- Post Info Start -->
                                            <div class="post--info">
                                                <!-- Post Meta Start -->
                                                <div class="post--meta">
                                                    <ul class="nav">
                                                        <li>
                                                            <a href="#">
                                                                <img src="{% static 'img/posts-img/avatar-small-01.jpg' %}" alt="">
                                                                <span>{{ post.author.get_full_name }}</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="mr--8 fa fa-calendar-o"></i>
                                                                <span>{{ post.time_stamp | date:'d M Y' }}</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="mr--8 fa fa-comments-o"></i>
                                                                <span>{{ post.number_of_comments }} Comment{{ post.number_of_comments | pluralize }}</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- Post Meta End -->

                                                <!-- Post Title Start -->
                                                <div class="post--title mt--10">
                                                    <h3 class="h6">
                                                        <a href="{{ post.get_absolute_url }}" class="btn-link">{{ post.title }}</a>
                                                    </h3>
                                                </div>
                                                <!-- Post Title End -->

                                                <!-- Post Meta Start -->
                                                
                                                <!-- Post Meta End -->

                                                <!-- Post Content Start -->
                                                <div class="post--content text-darker mt--10">
                                                    {{ post.desc }}
                                                </div>
                                                <!-- Post Content End -->

                                                <!-- Post Action Start -->
                                                <div class="post--action text-darkest mt--8">
                                                    <a href="{{ post.get_absolute_url }}" class="btn-link">Continue Reading<i class="ml--10 text-primary fa fa-caret-right"></i></a>
                                                </div>
                                                <!-- Post Action End -->
                                            </div>
                                            <!-- Post Info End -->
                                        </div>
                                        <!-- Post Item End -->
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Related Posts End -->

                            <!-- Comment List Start -->
                            <div class="comment--list pt--40">
                                <h4 class="h4 pb--20">{{ post.number_of_comments }} Comment{{ post.number_of_comments | pluralize }}</h4>

                                <ul class="comment--items nav">
                                    {% for comment in comments %}
                                    <li>
                                        <!-- Comment Item Start -->
                                        <div class="comment--item mr--15 clearfix">
                                            <div class="img float--left" data-overlay="0.3" data-overlay-color="primary">
                                                <img src="{{ comment.user.profile.profile_pic.url }}" alt="">
                                            </div>

                                            <div class="info ov--h">
                                                <div class="header clearfix">
                                                    <div class="meta float--left">
                                                        <p class="fs--14 fw--700 text-darkest">
                                                            <a href="{{ comment.user.profile.get_absolute_url }}">{{ comment.user.get_full_name }}</a>
                                                        </p>

                                                        <p>
                                                            <i class="mr--10 fa fa-clock-o"></i>
                                                            <span>{{ comment.time_stamp | timesince }} ago.</span>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="content pt--8 fs--14">
                                                    <p>{{ comment.body }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Comment Item End -->
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- Comment List End -->
                            
                            {% if request.user.is_authenticated %}
                            <!-- Comment Form Start -->
                            <div class="comment--form pb--30" data-form="validate">
                                <h4 class="h4 pb--15">Leave A Comment</h4>

                                {% if not request.user.is_authenticated %}
                                <p class="ff--primary fs--14 text-darkest pb--10"><a href="{% url 'accounts:login' %}">Log in</a> to comment.</p>
                                {% else %}
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="row gutter--15">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{ form.body }}
                                            </div>
                                        </div>

                                        <div class="col-sm-12 pt--10">
                                            <button type="submit" class="btn btn-sm btn-primary fs--14">Post Comment</button>
                                        </div>
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                            {% else %}
                            <p><a href="{% url 'accounts:login' %}">Log in</a> to comment.</p>
                            {% endif %}
                            <!-- Comment Form End -->
                        </div>
                    </div>
                    <!-- Main Content End -->

                    <!-- Main Sidebar Start -->
                    <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Categories</h2>

                            <!-- Buddy Finder Widget Start -->
                            <div class="nav--widget">
                                <ul class="nav">
                                    {% for category in categories %}
                                    <li>
                                        <a href="{{ category.get_absolute_url }}">
                                            <span class="text">{{ category.name }}</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- Buddy Finder Widget End -->
                        </div>
                        <!-- Widget End -->
                        <!-- Widget Start -->
                        

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Advertisements</h2>

                            <!-- Ad Widget Start -->
                            <div class="ad--widget">
                                <a href="#">
                                    <img src="{% static 'img/ad_02.jpeg' %}" alt="" class="center-block">
                                </a>
                            </div>
                            <!-- Ad Widget End -->
                        </div>
                        <!-- Widget End -->
                    </div>
                    <!-- Main Sidebar End -->
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

{% endblock %}