{% extends "main/base.html" %}
{% load static %}
{% block title %}
  About
{% endblock title %}
{% block content %}
        <!-- Page Header Start -->
        <div class="page--header pt--60 pb--60 text-center" data-bg-img="{% static 'img/logo.jpeg' %}" data-overlay="0.85">
            <div class="container">
                <div class="title">
                    <h2 class="h1 text-white">About Us</h2>
                </div>

                <ul class="breadcrumb text-gray ff--primary">
                    <li><a href="/" class="btn-link">Home</a></li>
                    <li class="active"><span class="text-primary">About</span></li>
                </ul>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- About Section Start -->
        <div class="section pt--80 pb--40">
            <div class="container">
                <div class="row row--md-vc">
                    <div class="col-md-6 pb--40">
                        <img src="{% static 'img/logo - Copy.jpeg' %}" alt="">
                    </div>

                    <div class="col-md-6 pb--40">
                        <!-- Text Block Start -->
                        <div class="text--block">
                            <div class="content fs--14">
                                <h3>About Us</h3>
                                <p>
                                    This system is based on the idea of a centralised platform that satisfies every need of a student irrespective 
                                    of status or degree of academic achievements. It would serve not just as a pdf bank but other features as well 
                                    that suits and meets the basic needs of every student or scholar. <br><a href='parakletus.com.ng'>Parakletus.com.ng</a> enables any individual in search 
                                    of any educational material of interest to easily access; ranging from textbooks, course materials, 
                                    scholarship and bursaries, academic blogs, tutorial videos, school trends and ads. 
                                </p>
                                <p>    
                                    This platform is not just essential for students but also for every individual interested in education. 
                                    The blogs go a long way beyond just education; fashion, politics, life skills etc. 
                                    We also run web design and maintenance for individuals, start-up businesses and organisations.
                                    You can reach out to us on our various social media handles for more info or a personalised service. 
                                    Thank you. 
                                </p>
                            </div>
                        </div>
                        <!-- Text Block End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->

        <!-- Features Section Start -->
        <section class="section bg-lighter pt--80 pb--40">
            <div class="container">
                <div class="row AdjustRow">
                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                        <!-- Feature Item Start -->
                        <div class="feature--item bg-default text-center">
                            <div class="title">
                                <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">{{ no_of_posts }}</span></h2>
                            </div>

                            <div class="sub-title">
                                <h3 class="h2 fs--16">Blog Posts</h3>
                            </div>

                            <div class="desc">
                                <p>Read exciting blog posts from different categories.</p>
                            </div>
                        </div>
                        <!-- Feature Item End -->
                    </div>

                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                        <!-- Feature Item Start -->
                        <div class="feature--item bg-default text-center">
                            <div class="title">
                                <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">{{ no_of_users }}</span></h2>
                            </div>

                            <div class="sub-title">
                                <h3 class="h2 fs--16">Registered Users</h3>
                            </div>

                            <div class="desc">
                                <p><a href="{% url 'accounts:register' %}">Create an account</a> to have a full experience of our platform.</p>
                            </div>
                        </div>
                        <!-- Feature Item End -->
                    </div>

                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                        <!-- Feature Item Start -->
                        <div class="feature--item bg-default text-center">
                            <div class="title">
                                <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">{{ no_of_universities }}</span></h2>
                            </div>

                            <div class="sub-title">
                                <h3 class="h2 fs--16">Universities</h3>
                            </div>

                            <div class="desc">
                                <p>Get course materials from {{ no_of_universities }} Nigerian Universities.</p>
                            </div>
                        </div>
                        <!-- Feature Item End -->
                    </div>

                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                        <!-- Feature Item Start -->
                        <div class="feature--item bg-default text-center">
                            <div class="title">
                                <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">{{ no_of_materials }}</span></h2>
                            </div>

                            <div class="sub-title">
                                <h3 class="h2 fs--16">Uploaded Course Materials</h3>
                            </div>

                            <div class="desc">
                                <p>Get access to course materials on our platform.</p>
                            </div>
                        </div>
                        <!-- Feature Item End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Features Section End -->
{% endblock %}