{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>Parakletus | {% block title %}{% endblock %}</title>

    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="Parakletus.com.ng enables any individual in search of any 
    educational material of interest to easily access; ranging from textbooks, course materials, 
    scholarship and bursaries, academic blogs, tutorial videos, school trends and ads.">
    <meta name="keywords" content="">
    {% block meta %}{% endblock %}

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">

    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="{% static 'css/plugins.min.css' %}">

    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="{% static 'css/responsive-style.css' %}">

    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="{% static 'css/colors/color-1.css' %}" id="changeColorScheme">

    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script data-ad-client="ca-pub-2651973040812184" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Header Section Start -->
        <header class="header--section style--3">

            <!-- Header Navbar Start -->
            <div class="header--navbar navbar bg-default" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle style--3 collapsed" data-toggle="collapse"
                            data-target="#headerNav">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Header Navbar Logo Start -->
                        <div class="header--navbar-logo navbar-brand">
                            <a href="/">
                                <img src="{% static 'img/logo.jpeg' %}" alt="">
                            </a>
                        </div>
                        <!-- Header Navbar Logo End -->
                    </div>

                    <!-- Header Search Start -->
                    <div class="header--search style--2 float--right" data-form="validate">
                        <form action="{% url 'main:search' %}" method="GET">
                            <input type="text" name="q" placeholder="I’m looking for..." class="form-control"
                                required>

                            <button type="submit" class="btn-link"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- Header Search End -->

                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <!-- Header Nav Links Start -->
                        <ul class="header--nav-links style--3 nav ff--primary">
                            <li>
                                <a href="{% url 'main:university_list' %}">
                                    <span>Universities</span>
                                </a>
                            </li>

                            <!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>Community</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="activity.html"><span>Activity</span></a></li>
                                    <li><a href="members.html"><span>Members</span></a></li>
                                    <li><a href="groups.html"><span>Groups</span></a></li>
                                </ul>
                            </li> -->
                            <li>
                                <a href="{% url 'main:about' %}">
                                    <span>About</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'blog:index' %}">
                                    <span>Blog</span>
                                </a>
                            </li>
                            <li><a href="{% url 'main:contact' %}"><span>Contact</span></a></li>
                            {% if request.user.is_authenticated %}
                              <li><a href="{% url 'accounts:profile' request.user.profile.id %}" class="btn btn-white btn-block"><span>Hello, {{ request.user.username }}</span></a></li>
                              <li><a href="{% url 'accounts:logout' %}" class="btn btn-white btn-block"><span>Logout</span></a></li>
                            {% else %}
                            <li><a href="{% url 'accounts:login' %}" class="btn btn-white btn-block"><span>Log In</span></a></li>
                            {% endif %}
                        </ul>
                        <!-- Header Nav Links End -->
                    </div>
                </div>
            </div>
            <!-- Header Navbar End -->
        </header>

        {% block content %} {% endblock %}

        <!-- Footer Section Start -->
        <footer class="footer--section">
            <!-- Footer Widgets Start -->
            <div class="footer--widgets pt--70 pb--20 bg-lightdark" data-bg-img="{% static 'img/footer-img/footer-widgets-bg.png' %}">
                <div class="container">
                    <div class="row AdjustRow">
                        <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                            <!-- Widget Start -->
                            <div class="widget">
                                <h2 class="h4 fw--700 widget--title">About Us</h2>

                                <!-- Text Widget Start -->
                                <div class="text--widget">
                                    <p>Parakletus.com.ng enables any individual in search of any educational material
                                         of interest to easily access; ranging from textbooks, course materials, scholarship and bursaries, 
                                         academic blogs, tutorial videos, school trends and ads.
                                    </p>
                                </div>
                                <!-- Text Widget End -->
                            </div>
                            <!-- Widget End -->
                        </div>

                        <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                            <!-- Widget Start -->
                            <div class="widget">
                                <h2 class="h4 fw--700 widget--title">Recent Posts</h2>

                                <!-- Recent Posts Widget Start -->
                                <div class="recent-posts--widget">
                                    <ul class="nav">
                                        {% for post in recent_posts %}
                                        <li>
                                            <p class="date fw--300">
                                                <a ><i class="fa mr--8 fa-file-text-o"></i>{{ post.time_stamp | date:'d M Y' }}</a>
                                            </p>
                                            <p class="title fw--700">
                                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                            </p>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- Recent Posts Widget End -->
                            </div>
                            <!-- Widget End -->

                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                            <!-- Widget Start -->
                            <div class="widget">
                                <h2 class="h4 fw--700 widget--title">Subscribe To Our Newsletter</h2>

                                <!-- Newsletter Widget Start -->
                                <div class="newsletter--widget style--2" data-form="validate">
                                    <p>Subscribe to get latest information from us!</p>

                                    <form method="post" name="mc-embedded-subscribe-form" action="{% url 'main:subscribe' %}">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input type="email" name="email" placeholder="Enter your email address"
                                                class="form-control" required>

                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-primary"><i
                                                        class="fa fa-send-o"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Newsletter Widget End -->
                            </div>
                            <!-- Widget End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Widgets End -->

            <!-- Footer Copyright Start -->
            <div class="footer--copyright pt--30 pb--30 bg-darkest">
                <div class="container">
                    <div class="text fw--500 fs--14 float--left">
                        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Parakletus<span></span>. All Rights Reserved.</p>
                    </div>

                    <div class="social float--right">
                        <ul class="nav">
                            <li><a href="https://web.facebook.com/dparakletus" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/DParakletus" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://m.me/dparakletus" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="{% static 'js/plugins.min.js' %}"></script>

    <!-- ==== Main Script ==== -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_scripts %}
      
    {% endblock extra_scripts %}

</body>

</html>