{% extends "main/base.html" %}
        <!-- Header Section End -->

{% block content %}
        <!-- Banner Section Start -->
        <section class="banner--section">
            <!-- Banner Slider Start -->
            <div class="banner--slider owl-carousel" data-owl-loop="false">
                <!-- Banner Item Start -->
                <div class="banner--item" data-bg-img="img/banner-img/home-version-3/slider-bg-01.jpg" data-overlay="0.5">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <div class="container">
                                <div class="row row--md-vc">
                                    <div class="col-md-7">
                                        <!-- Banner Content Start -->
                                        <div class="banner--content pt--70 pb--80">
                                            <div class="title">
                                                <h1 class="h2 text-white">Welcome To Community</h1>
                                            </div>

                                            <div class="sub-title">
                                                <h2 class="h1 text-white">Connect, Share &amp; Engage</h2>
                                            </div>

                                            <div class="desc fs--16">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum aspernatur repudiandae praesentium, accusantium quo eaque porro ut at corporis, ipsa omnis vero minima aliquam nulla, eos dolorem provident, deserunt asperiores!</p>
                                            </div>

                                            <div class="action text-uppercase">
                                                <a href="#" class="btn btn-white">Learn More</a>
                                                <a href="#" class="btn btn-primary">See Members</a>
                                            </div>
                                        </div>
                                        <!-- Banner Content End -->
                                    </div>
                                    <div class="col-md-4 col-md-offset-1 col-xs-8 col-xs-offset-2 col-xxs-12">
                                        <!-- Widget Start -->
                                        <div class="widget">
                                            <h2 class="h4 fw--700 widget--title"> I'm looking for material in</h2>

                                            <!-- Buddy Finder Widget Start -->
                                            <div class="buddy-finder--widget">
                                                <form action="{% url 'main:material_search' %}" method="POST" data-dept-url="{% url 'main:ajax_load_depts' %}" id="materialForm">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>
                                                                    <span class="text-darker ff--primary fw--500">Level</span>

                                                                    {{ form.level }}
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>
                                                                    <span class="text-darker ff--primary fw--500">Faculty</span>
                                                                    {{ form.faculty }}
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>
                                                                    <span class="text-darker ff--primary fw--500">Department</span>

                                                                    {{ form.department }}
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-primary">Search</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- Buddy Finder Widget End -->
                                        </div>
                                        <!-- Widget End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Item End -->
            </div>
            <!-- Banner Slider End -->
        </section>
        <!-- Banner Section End -->

        <!-- Features Section Start -->
        <section class="section bg-lighter pt--80 pb--40">
            <div class="container">
                <div class="row AdjustRow">
                    {% for post in latest_posts %}
                    <div class="col-md-3 pb--40">
                        <!-- Feature Item Start -->
                        <div class="feature--item bg-default text-center">
                            <div class="title">
                                <a href="{{ post.get_absolute_url }}"><p class="ff--default text-primary">{{ post.title }}</p></a>
                            </div>

                            <div class="sub-title">
                                <span>{{ post.time_stamp }}</span>
                            </div>

                            <div class="desc">
                                <p>{{ post.desc }}</p>
                            </div>
                        </div>
                        <!-- Feature Item End -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Features Section End -->

{% endblock %}

{% block extra_scripts %}
  <script>
      $('select').addClass('form-control');
  </script>

  <script>
      $('#id_faculty').change(function(){
          var url = $("#materialForm").attr("data-dept-url");
          var facultyId = $(this).val();

          $.ajax({
              url : url,
              data : {
                  'faculty' : facultyId
              },
              success : function(data) {
                  $('#id_department').html(data);
              }
          });
      });
  </script>
{% endblock extra_scripts %}