{% extends "main/base.html" %}
{% load static %}
        <!-- Header Section End -->
{% block title %}
Home
{% endblock %}

{% block content %}
        <!-- Banner Section Start -->
        <section class="banner--section">
            <!-- Banner Slider Start -->
            <div class="banner--slider owl-carousel" data-owl-loop="false">
                <!-- Banner Item Start -->
                <div class="banner--item" data-bg-img="{% static 'img/banner-img/banner.jpeg' %}" data-overlay="0.5">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <div class="container">
                                <div class="row row--md-vc">

                                    <div class="col-md-7">
                                        <!-- Banner Content Start -->
                                        <div class="banner--content pt--70 pb--80">
                                            <div class="title">
                                                <h1 class="h2 text-white">Welcome To Parakletus</h1>
                                            </div>

                                            <div class="sub-title">
                                                <h2 class="h1 text-white">Connect, Share &amp; Engage</h2>
                                            </div>

                                            <div class="desc fs--16">
                                                <blockquote>
                                                    A very important element of every development is the willingness to bring about change gently
                                                    <footer style="color: white;">
                                                        Prof. Chinua Achebe
                                                    </footer>
                                                </blockquote>
                                                <p>
                                                    Take that little step of downloading that material, learning that course or watching that tutorial video 
                                                    because tiny steps is all you need for that academic breakthrough you need.
                                                </p>
                                            </div>

                                            <div class="action text-uppercase">
                                                <a href="{% url 'main:about' %}" class="btn btn-white">Learn More</a>
                                            </div>
                                        </div>
                                        <!-- Banner Content End -->
                                    </div>
                                    <div class="col-md-4 col-md-offset-1 col-xs-8 col-xs-offset-2 col-xxs-12">
                                        <!-- Widget Start -->
                                        <div class="widget">
                                            <h2 class="h4 fw--700 widget--title"> I'm looking for material in</h2>

                                            <!-- Buddy Finder Widget Start -->
                                            <div class="buddy-finder--widget">
                                                <form action="{% url 'main:material_search' %}" method="POST" data-dept-url="{% url 'main:ajax_load_depts' %}" id="materialForm">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>
                                                                    <span class="text-darker ff--primary fw--500">Level</span>

                                                                    {{ form.level }}
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>
                                                                    <span class="text-darker ff--primary fw--500">Faculty</span>
                                                                    {{ form.faculty }}
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>
                                                                    <span class="text-darker ff--primary fw--500">Department</span>

                                                                    {{ form.department }}
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-primary">Search</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- Buddy Finder Widget End -->
                                        </div>
                                        <!-- Widget End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Item End -->
            </div>
            <!-- Banner Slider End -->
        </section>
        <!-- Banner Section End -->

        <section class="section pt--70 pb--40">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section--title pb--50 text-center">
                    <div class="title">
                        <h2 class="h2">How It Works?</h2>
                    </div>
                </div>
                <!-- Section Title End -->

                <div class="row">
                    <div class="col-md-7 pb--40">
                        <div class="row gutter--15 AdjustRow" data-scroll-reveal="group">
                            <div class="col-xs-4 pb--15">
                                <img src="{% static 'img/how-it-works-img/01.jpeg' %}" alt="">
                            </div>

                            <div class="col-xs-4 pb--15">
                                <img src="{% static 'img/how-it-works-img/02.jpg' %}" alt="">
                            </div>

                            <div class="col-xs-4 pb--15">
                                <img src="{% static 'img/how-it-works-img/03.jpg' %}" alt="">
                            </div>

                            <div class="col-xs-12">
                                <img src="{% static 'img/how-it-works-img/04.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 pb--40">
                        <!-- Info Items Start -->
                        <div class="info--items" data-scroll-reveal="group">
                            <!-- Info Item Start -->
                            <div class="info--item clearfix">
                                <div class="icon">
                                    <img src="{% static 'img/how-it-works-img/icon-02.png' %}" alt="">
                                </div>

                                <div class="info">
                                    <div class="title">
                                        <h3 class="h4 fw--700"><a href="{% url 'accounts:register' %}">Create An Account</a></h3>
                                    </div>

                                    <div class="desc">
                                        <p>Click on the link to sign up and have a full experience of the platform</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Info Item End -->

                            <!-- Info Item Start -->
                            <div class="info--item clearfix">
                                <div class="icon">
                                    <img src="{% static 'img/how-it-works-img/icon-01.png' %}" alt="">
                                </div>

                                <div class="info">
                                    <div class="title">
                                        <h3 class="h4 fw--700"><a href="javascript:void(0);">Check &amp Download Materials;</a></h3>
                                    </div>

                                    <div class="desc">
                                        <p>After sign up, go through the courses to get to the actual material you need.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Info Item End -->

                            <!-- Info Item Start -->
                            <div class="info--item clearfix">
                                <div class="icon">
                                    <img src="{% static 'img/how-it-works-img/icon-03.png' %}" alt="">
                                </div>

                                <div class="info">
                                    <div class="title">
                                        <h3 class="h4 fw--700"><a href="{% url 'blog:index' %}">Read Stories</a></h3>
                                    </div>

                                    <div class="desc">
                                        <p>Stories across several sectors, timely, relevant and concise.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Info Item End -->

                            <!-- Info Item Start -->
                            <div class="info--item clearfix">
                                <div class="icon">
                                    <img src="{% static 'img/how-it-works-img/icon-04.png' %}" alt="">
                                </div>

                                <div class="info">
                                    <div class="title">
                                        <h3 class="h4 fw--700"><a href="javascript:void(0);">Share With Friends</a></h3>
                                    </div>

                                    <div class="desc">
                                        <p>As you have enjoyed your experience on the platform, do well to share with your friends and follow us on our social media handles.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Info Item End -->
                        </div>
                        <!-- Info Items End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- How It Works Section End -->

        <!-- Most Popular Groups Section Start -->
        <section class="section bg-lighter pt--70 pb--70">
            <div class="container">
                <div class="section--title pb--50 text-center">
                    <div class="title">
                        <h2 class="h2">Latest Posts from the Blog</h2>
                    </div>
                </div>
                <!-- Tab Content Start -->
                <div class="tab-content">
                    <!-- Tab Pane Start -->
                    <div class="tab-pane fade in active" id="boxItemsTab01">
                        <!-- Box Items Start -->
                        <div class="box--items owl-carousel" data-owl-items="4" data-owl-margin="30" data-owl-autoplay="false">
                            <!-- Box Item Start -->
                            {% for post in latest_posts %}
                            <div class="box--item text-center">
                                <a href="{{ post.get_absolute_url }}" class="img" data-overlay="0.1">
                                    <img src="{{ post.image.url }}" alt="">
                                </a>

                                <div class="info">
                                    <div class="icon fs--18 text-lightest bg-primary">
                                        <i class="fa fa-book"></i>
                                    </div>

                                    <div class="title">
                                        <h2 class="h6"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                    </div>

                                    <div class="desc text-darker">
                                        <p>{{ post.desc | truncatechars:50 }}</p>
                                    </div>

                                    <div class="action">
                                        <a href="{{ post.get_absolute_url }}">Read More<i class="fa ml--10 fa-caret-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Box Item End -->
                        </div>
                        <!-- Box Items End -->
                    </div>
                    <!-- Tab Pane End -->
                </div>
                <!-- Tab Content End -->
            </div>
        </section>
        <!-- Most Popular Groups Section End -->

{% endblock %}

{% block extra_scripts %}
  <script>
      $('select').addClass('form-control');
  </script>

  <script>
      $('#id_faculty').change(function(){
          var url = $("#materialForm").attr("data-dept-url");
          var facultyId = $(this).val();

          $.ajax({
              url : url,
              data : {
                  'faculty' : facultyId
              },
              success : function(data) {
                  $('#id_department').html(data);
              }
          });
      });
  </script>
{% endblock extra_scripts %}